language: go

go:
  - "1.17"

services:
  - docker

jobs:
  include:
    - stage: lint
      before_install:
        - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.43.0
      script: make lint
    - stage: test
      script: make test
    - stage: build
      script: make build